NEXT_PUBLIC_SUPABASE_URL=https://ignlzahslkkfucgnekkb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key
EXERCISEDB_API_KEY=tu_rapidapi_key_de_exercisedb
